# Modèle CorPipe 
crac2025-corpipe/

# Fichiers intermédiaires générés par UDPipe 2
#data/conllu_entree/*.conllu

# Fichiers de prédictions générés par CorPipe
#data/*.00.conllu
#data/*.15.conllu

# Dossiers systèmes et caches Python
__pycache__/
*.pyc

# Ignorer les fichiers temporaires de tableur
*.~lock.*